<div class="page-header">
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-5">
    <div class="panel panel-info">
      <!-- Mobile registration panel-->
      <div class="panel-heading">Mobile Endpoints</div>
      <div class="panel-body">
        <form role="form">
          <div class="list-group">
            <a href="#/mobile-registration" class="list-group-item list-group-item-success"><h4>Mobile Registration</h4></a>
            <a href="#/subscriptions" class="list-group-item list-group-item-success"><h4>Subscriptions</h4></a>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <div class="panel panel-info">
      <!-- System endpoints panel-->
      <div class="panel-heading">System Endpoints</div>
      <div class="panel-body">
        <form role="form">
          <div class="list-group">
            <a href="#/system-registration" class="list-group-item list-group-item-success"><h4>System Registration</h4></a>
            <a href="#/system-endpoint" class="list-group-item list-group-item-success"><h4>System Endpoint</h4></a>
            <a href="#/subscriptions" class="list-group-item list-group-item-success"><h4>Subscriptions</h4></a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>