<div class="page-header">
    <h3><span></span>System Endpoint Registrations</h3>
</div>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="panel panel-info">
      <!-- Mobile registration panel-->
      <div class="panel-heading">System Registration</div>
      <div class="panel-body">
        <form role="form" ng-submit="submit()">
          <!-- Name input-->
          <div class="form-group">
            <label for="inputName" class="col-sm-2 control-label">Name</label>
            <div class="">
              <input ng-model="inputName" class="form-control" id="inputName" placeholder="Name">
            </div>
          </div>
          <!-- ID input -->
          <div class="form-group">
            <label for="inputIdentifier" class="col-sm-3 control-label">Identifier</label>
            <div clss="">
              <input ng-model="inputIdentifier" class="form-control" id="inputIdentifier" placeholder="ID">
            </div>
          </div>
          <!-- Position Input -->
          <div class="row">
            <!-- Latitude -->
            <div class="col-md-6">
              <div class="form-group">
                <label for="inputLongitude" class="col-sm-3 control-label">Longitude</label>
                <div class="">
                  <input ng-model="inputLongitude" class="form-control" id="inputLongitude" placeholder="Longitude">
                </div>
              </div>
            </div>
            <!-- Longitude -->
            <div class="col-md-6">
            <!-- Type Input -->
              <div class="form-group">
                <label for="inputLatitude" class="col-sm-3 control-label">Latitude</label>
                <div class="">
                  <input ng-model="inputLatitude" class="form-control" id="inputLatitude" placeholder="Latitude">
                </div>
              </div>
            </div>
          </div>
          <!-- SNS input -->
          <div class="form-group">
            <label for="inputSNS" class="col-sm-3 control-label">SNS</label>
            <div clss="">
              <input ng-model="inputSNS" class="form-control" id="inputSNS" placeholder="SNS ARN">
            </div>
          </div>
          <!-- Submit button -->
          <button type="submit" ng-class="{ disabled: !validate() }" class="btn btn-default">Register System Endpoint</button>
          <div ng-show="error" class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{error}}
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
  <table ng-table="tableParams" class="table" template-header="ng-table_se_header">
    
        <tbody ng-repeat="group in $groups">
            <tr class="ng-table-group">
              <td align="right" ng-repeat="column in columns" ng-show="column.visible" sortable="column.field" class="info">
                <button ng-show="column.btn == 0 && group.data[0].subscriptions.length > 0" ng-click="group.$hideRows = !group.$hideRows">
                  <strong>{{column.btn_txt}}</strong>
                </button>
              <div ng-show="$index != 0">
                {{getFieldValue(group.data[0], column.field)}}
              </div>              
              <button ng-show="column.btn == 7" ng-click="delete($parent.$index)">
                <strong>{{column.btn_txt}}</strong>
              </button>
              </td>
            </tr>
            <tr ng-hide="group.$hideRows" ng-repeat="subs in group.data[0].subscriptions">
                <td colspan="{{column.span || 1}}" align="right" ng-repeat="column in sub_columns" ng-show="column.visible" sortable="column.field" class="success"> 
                <div ng-show="$index != 0">
                  {{getFieldValue(subs, column.field)}}
                </div>
              <button ng-show="column.btn" ng-click="deleteSub($parent.$parent.$index, $parent.$index)"><strong>{{column.btn_txt}}</strong></button>
              </td>
            </tr>
        </tbody>
  </table>
  </div>
</div>
<script id="ng-table_se_header" type="text/ng-template">
<tr>
  <th ng-repeat="column in columns" ng-show="column.visible" class="sortable text-center">{{column.title}}
  </th>
</tr>
</script>