<table ng-table class="table" template-header="ng-table_se_header">
  <tr ng-repeat="epLog in epLogs">
    <th data-title="{{prop}}" ng-repeat="(prop, val) in epLog"> {{epLog[prop]}}</td>
  </tr>
</table>

<script id="ng-table_se_header" type="text/ng-template">
<tr>
  <th ng-repeat="column in columns" ng-show="column.visible" class="sortable text-center"
    ng-click="tableParams.sorting(column.field, tableParams.isSortBy(column.field, 'asc') ? 'desc' : 'asc'">{{column.title}}
  </th>
</tr>
</script>